/*Main app*/

.header{
  padding-top: 12px;
  background:#fe8886;
}

.content{
  margin:24px 16px;
  padding:20px;


}
/*Sidebar*/
.sider{
  height: 100vh;
  position: sticky !important;
  left: 0px;
  bottom: 0px;
  top:0px;
}
.logo{
  margin: 40px 0px;
  font-size: 1.5rem;

}
.triger-btn{
  font-size: 16px;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  left: 10px;
}
.menu-bar{
  display:flex;
  flex-direction: column;
  gap:10px;
  font-weight: 500;
}
.ant-menu-item-selected{
 /* background-color: rgb(255, 20, 83) !important;*/
  background-color: #f74846 !important;
  color: #fff !important;
}

/*header*/

.header-icon{
  background: #d2d2d2;
  padding: 8px;
  border-radius: 4px;
  font-size: 15px;
  color: #ec7f7f;
  cursor: pointer;

}
/*Button,cnd color*/
.ant-btn:hover{
  color: #ff6c6c !important;
  border-radius: #ff5858 !important;

}

.ant-btn-primary{
  
  border-color:#77f5f9 !important;

}
.ant-btn-primary:hover{
  color: #f7f7f7 !important;
  background-color:#77bcf9 !important;

}
.primary--color{
  color: #77f5f9!important;
  

}

.primary--light--color{
  color: #caf6f7 !important;
  
}
.secondary--color{
  color: rgb(158, 158, 241)!important;
 

}
.light--color{
  color: #dfe5f1 !important;
  
}
.gray--color{
  color: #9eb1d8 !important;
  
}

.space-align-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.space-align-block {
  flex: none;
  margin: 8px 4px;
  padding: 4px;
  border: 1px solid #40a9ff;
}
.space-align-block .mock-block {
  display: inline-block;
  padding: 32px 8px 16px;
  background: rgba(150, 150, 150, 0.2);
}

